body{
    background-color: color('white');
    color: color('dusk');
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: $base-font-size;
    line-height: 1.7em;
    @media screen and(max-width: 480px){
        font-size: $base-font-size - 2;
    }
    &.boxed{
        background-color: color('medwhite');
        header, section, nav, footer{
            width: 1200px;
            max-width: 100%;
            margin: 0 auto;
        }
    }
}

a{
    &:hover{
        text-decoration: none;
    }
}

img{
    max-width: 100%
}

.navbar{
    background: transparent;
    padding: 15px 0;
    color: color('white');
    @include transition(0.3s all ease);
    &.nav--blue{
        background-color: color('darkblue');
        @include transition(0.3s all ease);
    }
    .navbar-brand{
        font-weight: 600;
        color: color('white');
    }
    .badge{
        color: color('dark');
        font-size: $base-font-size - 1;
        padding: 3px 6px;
        background-color: color('yellow');
        @include border-radius(30px);
    }
}

section{
    padding: 70px 0;
    @media screen and(max-width: 480px){
        padding: 40px 0;
    }
    &.sm{
        padding: 50px 0;
    }
    &.no-padding{
        padding: 0;
    }
}

.container {
    width: 1100px;
    max-width: 97%;
    @media screen and(min-width: 576px) {
        max-width: 95%;
    }
    @media screen and(max-width: 576px) {
        width: 95%;
    }
}